<div>
<h1>{{questao.enunciado}}</h1>
<section class="grid grid-template-columns-1">
	<div class="item"><a href="/">{{questao.alternativa1}}</a></div>
	<div class="item">{{questao.alternativa2}}</div>
	<div class="item">{{questao.alternativa3}}</div>
	<div class="item">{{questao.alternativa4}}</div>
</section>
</div>